<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'products:products_list'%}">Продукция</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for section in sections %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'products:section_products' section_name=section.name %}">{{ section.description }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>