{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <table class="table table-dark table-striped">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Поставщик</th>
            <th>Единица измерения</th>
            <th>Дата поступления</th>
        </tr>
        {% for product in object_list %}
            <th scope="row">{{ product.pk }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.provider_name }}</td>
            <td>{{ product.get_units }}</td>
            <td>{{ product.date_of_receipt }}</td>
        {% endfor %}
    </table>
    <button type="button" class="btn btn-dark">Добавить товар</button>
{% endblock %}